/.bundle
/bundle
/**/*.swp
/log/*
/*.log
/tmp
/.tmp
/.nyc_output
/.vagrant
/coverage
/public/assets
/config/config-local.yml
/bin/portus
/bin/integration/init
/docker-compose.overlay.yml
/spec/integration/fixtures/config.yml
/spec/integration/fixtures/data
/node_modules
/webpack-report
/db/schema.rb

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
