textarea.fixed-size {
  max-height: 300px;
  min-height: 150px;
  resize: vertical;
}

.twitter-typeahead, .tt-dropdown-menu {
  width: 100%;
}

// help block
.form-group {
  .help-block {
    display: none;
    margin-bottom: 0;
  }
}

.has-success,
.has-warning,
.has-error {
  .help-block {
    display: block;
  }
}
