body {
    background: $first-colour; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $first-colour 0%, $second-colour 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$first-colour), color-stop(100%,$second-colour)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* IE10+ */
    background: linear-gradient(135deg,  $first-colour 0%,$second-colour 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205683', endColorstr='#68b0ab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    .oops {
        padding-top: 2em;
        text-align: center;
        .broken-lighthouse {
            margin: 2em 0;
        }
        h1, h3 {
            color: $third-colour;
            line-height: 0;
            color: $logo-text-colour;
        }
        h1 {
            font-size: 4em;
            font-family: 'Pacifico', cursive;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }
        h3 {
            padding-top: 2em;
            font-size: 1.5em;
        }
    }

    .error-fixes {
        background: rgba(255,255,255,0.3);
        color: $third-colour;
        border-radius: 4px;
        margin-top: 2em;
        padding: 2em;
    }
}
