section.sign-up {
  input#user_email {
    border-radius: 4px 4px 0 0;
  }

  input#user_username, input#user_password {
    border-radius: 0px;
  }

  input#user_password_confirmation {
    border-radius: 0 0 4px 4px;
  }

  input[type="email"] {
    border: 0px;
  }
}

.login {
  input[type="text"] {
    border-radius: 4px 4px 0 0;
  }

  input[type="password"] {
    border-radius: 0 0 4px 4px;
  }

  input[type="text"], input[type="password"], input[type="email"] {
    background: rgba(0,0,0,0.1);
    @include input-placeholder(lighten($second-colour,20%));
    font-size: 15px;
    color: $logo-text-colour;
  }

  button[type="submit"] {
    margin-bottom: 1em;
  }

  input[type="email"]:last-of-type {
    border-radius: 4px;
    border: 0px;
  }

  .btn-link {
    color: $white
  }

  .social-login-title {
    color: $white;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .social-btns a.btn{
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

body.login {
  background: $first-colour; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $first-colour 0%, $second-colour 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$first-colour), color-stop(100%,$second-colour)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  $first-colour 0%,$second-colour 100%); /* IE10+ */
  background: linear-gradient(135deg,  $first-colour 0%,$second-colour 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205683', endColorstr='#68b0ab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  .create-new-account {
    text-align: left;
  }
  .forgot-password {
    text-align: right;
  }
}

@media (max-width: $screen-sm-max) {
  .center-panel {
    margin-top: 2em
  }
}

.login-picture {
  margin: 2em 0;
}
